@import '../../variables.scss';

.country {
    margin-bottom: 30px;
    padding: 10px;
    background-color: $grey-light;
    box-shadow: 0 0 10px $grey-shadow;
    border-radius: 10px;
    color: $blue-dark;
}

.country-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
}

.country-currency {
    display: flex;
}

.country-currency-name {
    margin-right: 5px;
    color: $green;
}

.country-information {
    margin-top: 5px;
    font-size: 14px;
    border-top: 1px solid #dedede;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
